ul.profile-menu(style='display: none;')
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('profile')
			| Profil
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('message')
			| Nachrichten
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('lesezeichen')
			| Lesezeichen
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('hilfe')
			| Hilfe
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('einstellungen')
			| Einstellungen
	li
		a.profile-menu-element(href='#')
			.profile-svg-container
				+svgIcon('abmelden')
			| Abmelden