.question-container {
    width: 100%;
    height: 250px;
    margin-bottom: 93px;
    background-color: #FFC488;
}

.question-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC488;
}

.question-header {
    font-family: var(--montserra);
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}




.question-button:hover .button-submit-text {
    transform: translateX(21px);  
}




.question-button:hover .left-arrow {
    transform: scale(1)
               translateX(21px);
}



.question-button:hover .right-arrow {
    transform: translateX(21px)
               scale(0);   
}

.question-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

@media (max-width: 1279px) {
    .question-content {
        width: 1024px;
        margin: auto;
    }
}