.question-container
	.question-content
		h2.question-header  Du hast eine Frage? 
		+button({bgc: '#fff', colorText: '#333333', width: '197px', text: 'Frage stellen', arrow: true })(class="question-button")